<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="/" class="logo ps-3 ps-md-0"><img src="img/logo.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="">Trang chủ</a></li>
        <li><a class="nav-link scrollto" href="#about">Giới thiệu</a></li>
        <li><a class="nav-link scrollto" href="#partner">Đối tác</a></li>
        <li><a class="nav-link scrollto" href="#about2">Giới thiệu2</a></li>
        <li><a class="nav-link scrollto" href="#partner2">Đối tác2</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle pe-4 pe-md-0"></i>
    </nav><!-- .navbar -->
    <div class="navbar d-none d-lg-inline-block">
      <a class="getstarted scrollto text-uppercase" href="/login">Đăng nhập</a>
    </div>
  </div>
</header>
<!-- End Header -->